gevent
greenlet
jsonpickle
jsonschema
lxml
matplotlib
numpy
Pillow
pydantic
PyDispatcher
pylint
ruamel.yaml
scipy
suds-py3

# GPhL: f90nml, mgen, and py4j are required for GPhL Workflow and emulation
