gevent==1.3.7
greenlet==0.4.16
suds-py3
ruamel.yaml
enum34
jsonpickle
PyDispatcher
numpy
scipy
matplotlib
Pillow
pylint
jsonschema
pydantic
# f90nml and py4j are required for GPhL Workflow and emulation
# f90nml
# py4j
