suds
gevent
enum34
jsonpickle
PyDispatcher
numpy
scipy
matplotlib
Pillow
pylint
ruamel.yaml
jsonschema
# f90nml, xmltodict and py4j are required for GPhL Workflow and emulation
# f90nml
# xmltodict
# py4j
