gevent==1.3.7
suds-py3
ruamel.yaml
enum34
jsonpickle
PyDispatcher
numpy
scipy
matplotlib
Pillow
pylint
jsonschema
pydantic
# f90nml, mgen, and py4j are required for GPhL Workflow and emulation
# f90nml
# mgen
# py4j
