current_version = 0.1.0
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z]+)(?P<dev>\d+))?
serialize = 
        {major}.{minor}.{patch}.{release}{dev}
        {major}.{minor}.{patch}

[bumpversion:part:release]
values = 
        dev
        rc

[bumpversion:part:dev]
first_value = 0