---


name: "Pages"

concurrency:
  group: "pages"

on:  # yamllint disable-line rule:truthy
  push:
  pull_request:

jobs:

  "pages-build":

    runs-on: "ubuntu-22.04"

    steps:

      - name: "Checkout"
        uses: "actions/checkout@v4"  # tested with v4.1.0
        with:
          # With shallow clone the "Last updated" timestamp can not get computed
          # See "Caveats" at https://pypi.org/project/sphinx-last-updated-by-git
          fetch-depth: 0

      - name: "Set up Python 3.8"
        uses: "actions/setup-python@v4"  # tested with v4.7.0
        with:
          python-version: "3.8"

      - name: "Install OpenLDAP's dev package with apt"
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends --yes libldap2-dev libsasl2-dev

      - name: "Install dependencies with Poetry"
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry --user
          python -m poetry install --only=docs,main

      - name: "Build documentation with Sphinx"
        run: |
          poetry run make --directory=./docs/ html

      - name: "Upload artifact for GitHub Pages"
        # This could potentially be run only when we intend to deploy...
        # ...but it can be useful to have the artifact for debugging
        # if: "github.ref_name == github.event.repository.default_branch"
        uses: "actions/upload-pages-artifact@v2"  # tested with v2.0.0
        with:
          path: "docs/build/html"

  "pages-deploy":

    if: "github.ref_name == github.event.repository.default_branch"

    environment:
      name: "github-pages"
      url: "${{ steps.deployment.outputs.page_url }}"

    needs:
      - "pages-build"

    permissions:
      pages: "write"
      id-token: "write"

    runs-on: "ubuntu-22.04"

    steps:

      - name: "Setup GitHub Pages"
        uses: "actions/configure-pages@v3"  # tested with v3.0.6

      - name: "Deploy to GitHub Pages"
        id: "deployment"
        uses: "actions/deploy-pages@v2"  # tested with 2.0.4


...  # EOF
